body {
    font-size:16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    border-collapse: collapse;
}

.bgc1 {
    background:rgb(80,90,120);
}
.bgc2 {
    background:rgb(130,140,160);
}
.bgc3 {
    background:rgb(150,170,200);
}
.bgc4 {
    background:rgb(200,220,240);
}

.fgc1 {
    color:rgb(220,220,240);
}
.fgc2 {
    color: rgb(240,240,255);
}
.fgc3 {
    color: rgb(255,255,255);
}
.fgc4 {
    color: rgb(60,60,90);
}

.bdc1 {
    border-color:rgb(40,50,70);
}
.bdc2 {
    border-color: rgb(100,110,120);
}
.bdc3 {
    border-color: rgb(130,150,180);
}
.bdc4 {
    border-color: rgb(180,200,220);
}

.test-big-title {
    font-size:42px;
    font-weight:normal;
}

.test-title {
    font-size:30px;
    font-weight:normal;
}

.test-small-title {
    font-size:20px;
    font-weight:normal;
}

.test-row {
    width:90%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:8px;
    padding-top:8px;
}

.test-text {
    font-size: 14px;
    width:90%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:8px;
    padding-top:8px;
}

.test-label {
    font-size:14px;
}

.test-button {
    border-radius: 4px;
    color:rgb(0,0,0);
    border: 1px solid;
    display:block;
    padding:16px;
    padding-left:24px;
    padding-right:24px;
    cursor:pointer;
    font-size:16px;
}

.test-textbox {
    border-radius: 3px;
    background-color:white;
    color:rgb(0,0,10);
    border: 1px solid;
    display:block;
    padding:8px;
    font-size:16px;
}


